
.controlHead{
    background: #E9EEF2;
    display: flex;
    align-items: center;
}

.controlHead_flecha{
    height: 100px;
    display: flex;
    align-items: center;
}

#input_month, #input_alumnos{
    margin-right: 20px;
    width: 153px;
}

/* *********************** */
.aDeslizadorIZQ{
    position: absolute;
}

#btnCalcular, #btnDescargar, .aDeslizadorDER{
    visibility: hidden;
}

.controlHead_input{
    display: flex;
    align-items: center;
    height: 102px;
}

#btnAplicar{   
    width: 64px;
    height: 25px;
    background: #78A6C8;
    color: #E9EEF2;
    border-top-color: #E9EEF2;
    border-right-color: #326789;
    border-bottom-color: #326789;
    border-left-color: #E9EEF2;
    cursor: pointer;
}

#btnCalcular{
    width: 64px;
    height: 25px;
    background: #E65C4F;
    color: #E9EEF2;
    border-top-color: #E9EEF2;
    border-right-color: #E65C4F;
    border-bottom-color: #E65C4F;
    border-left-color: #E9EEF2;
    cursor: pointer;
}

#btnCalcular:hover{
    background-color: #E9EEF2;
    color: #E65C4F;
    font-weight: 600;
    border-style: solid;
    border-color: #E65C4F;
}
#btnCalcular:active{
    background-color: #e65b4f10;
    border-style: dotted;
    border-top-color: grey;
    border-right-color: #E65C4F;
    border-bottom-color: #E65C4F;
    border-left-color: grey;
}


#btnDescargar{
    width: 76px;
    height: 25px;
    margin-left: 15px;

    background-color: #555555;
    color: white;

    border-top-color: #E9EEF2;
    border-left-color: #E9EEF2;
    border-right-color: #555555;
    border-bottom-color: #555555;
    
    cursor: pointer;
}

#btnDescargar:hover{
    background-color: #dddbdb;
    color: #555555;
    font-weight: bold;
}


#excel-input{
    display: none;
}
.lbl_excel-input{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    height: 24px;
    padding: 3px;
    border-radius: 4px;
    
    margin-bottom: 5px;

    background-color: #4CAF50;
    color: rgb(237, 243, 245);   
    
    cursor: pointer;
    transition-duration: 0.4s;
}

.lbl_excel-input:hover{
    background-color: #4caf4f48;
    color: black;
    text-decoration: underline;
    
}

/* *********************** */
/* Inicializacion efect */
.controlHead_input{
    visibility: visible;
    width: 700px;
    height: 102px;
    overflow: hidden;
    transition: all 2s linear 0s;
}



/* ************************ */
/* Mobile */
@media screen and (max-width: 680px){
    h1{
        font-size: 1.2em;
    }

    .controlHead_input{
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 124px;
        height: auto;
        margin-top: 10px;

    }

}

@media screen and (max-width: 400px){

    #input_month, #input_alumnos{
        margin-right: 0px;
        width: 100%;
        margin-bottom: 15px;
        margin-top: 4px;
    }
}


/***********efectos boton **********************/

/* ----------------------------------------------
  Generated by AnimatiSS
  Licensed under FreeBSD License
  URL: https://xsgames.co/animatiss
  Twitter: @xsgames_
---------------------------------------------- */

@keyframes jello-horizontal {
    0% {
        transform: scale3d(1, 1, 1)
    }

    30% {
        transform: scale3d(1.25, .75, 1)
    }

    40% {
        transform: scale3d(.75, 1.25, 1)
    }

    50% {
        transform: scale3d(1.15, .85, 1)
    }

    65% {
        transform: scale3d(.95, 1.05, 1)
    }

    75% {
        transform: scale3d(1.05, .95, 1)
    }

    100% {
        transform: scale3d(1, 1, 1)
    }
}

@keyframes jello-vertical {
    0% {
        transform: scale3d(1, 1, 1)
    }

    30% {
        transform: scale3d(.75, 1.25, 1)
    }

    40% {
        transform: scale3d(1.25, .75, 1)
    }

    50% {
        transform: scale3d(.85, 1.15, 1)
    }

    65% {
        transform: scale3d(1.05, .95, 1)
    }

    75% {
        transform: scale3d(.95, 1.05, 1)
    }

    100% {
        transform: scale3d(1, 1, 1)
    }
}

@keyframes shake-vertical {

    0%,
    100% {
        transform: translateY(0)
    }

    10%,
    30%,
    50%,
    70% {
        transform: translateY(-8px)
    }

    20%,
    40%,
    60% {
        transform: translateY(8px)
    }

    80% {
        transform: translateY(6.4px)
    }

    90% {
        transform: translateY(-6.4px)
    }
}

@keyframes shake-left-right {

    0%,
    100% {
        transform: rotate(0deg);
        transform-origin: 50% 50%
    }

    10% {
        transform: rotate(8deg)
    }

    20%,
    40%,
    60% {
        transform: rotate(-10deg)
    }

    30%,
    50%,
    70% {
        transform: rotate(10deg)
    }

    80% {
        transform: rotate(-8deg)
    }

    90% {
        transform: rotate(8deg)
    }
}

@keyframes jello-diagonal {
    0% {
        transform: skew(0deg 0deg)
    }

    30% {
        transform: skew(25deg 25deg)
    }

    40% {
        transform: skew(-15deg, -15deg)
    }

    50% {
        transform: skew(15deg, 15deg)
    }

    65% {
        transform: skew(-5deg, -5deg)
    }

    75% {
        transform: skew(5deg, 5deg)
    }

    100% {
        transform: skew(0deg 0deg)
    }
}

@keyframes wobble-horizontal-top {

    0%,
    100% {
        transform: translateX(0);
        transform-origin: 50% 50%
    }

    15% {
        transform: translateX(-30px) rotate(6deg)
    }

    30% {
        transform: translateX(15px) rotate(-6deg)
    }

    45% {
        transform: translateX(-15px) rotate(3.6deg)
    }

    60% {
        transform: translateX(9px) rotate(-2.4deg)
    }

    75% {
        transform: translateX(-6px) rotate(1.2deg)
    }
}

@keyframes bounce-top {
    0% {
        transform: translateY(-45px);
        animation-timing-function: ease-in;
        opacity: 1
    }

    24% {
        opacity: 1
    }

    40% {
        transform: translateY(-24px);
        animation-timing-function: ease-in
    }

    65% {
        transform: translateY(-12px);
        animation-timing-function: ease-in
    }

    82% {
        transform: translateY(-6px);
        animation-timing-function: ease-in
    }

    93% {
        transform: translateY(-4px);
        animation-timing-function: ease-in
    }

    25%,
    55%,
    75%,
    87% {
        transform: translateY(0);
        animation-timing-function: ease-out
    }

    100% {
        transform: translateY(0);
        animation-timing-function: ease-out;
        opacity: 1
    }
}

@keyframes bounce-bottom {
    0% {
        transform: translateY(45px);
        animation-timing-function: ease-in;
        opacity: 1
    }

    24% {
        opacity: 1
    }

    40% {
        transform: translateY(24px);
        animation-timing-function: ease-in
    }

    65% {
        transform: translateY(12px);
        animation-timing-function: ease-in
    }

    82% {
        transform: translateY(6px);
        animation-timing-function: ease-in
    }

    93% {
        transform: translateY(4px);
        animation-timing-function: ease-in
    }

    25%,
    55%,
    75%,
    87% {
        transform: translateY(0);
        animation-timing-function: ease-out
    }

    100% {
        transform: translateY(0);
        animation-timing-function: ease-out;
        opacity: 1
    }
}

@keyframes blur-out-expand {
    0% {
        transform: scale(1);
        filter: blur(.01px);
    }

    100% {
        transform: scale(2);
        filter: blur(12px);
        opacity: 0
    }
}

@keyframes rotate-scale-down {
    0% {
        transform: scale(1) rotateZ(0)
    }

    50% {
        transform: scale(.5) rotateZ(180deg)
    }

    100% {
        transform: scale(1) rotateZ(360deg)
    }
}

/***************************************/