
.controlHead{
    background: #E9EEF2;
    display: flex;
    align-items: center;
}

.controlHead_flecha{
    height: 83px;
}

/* *********************** */
.aDeslizadorIZQ{
    position: absolute;
}

.aDeslizadorDER{
    visibility: hidden;
}

#btnCalcular{
    visibility: hidden;
}

/* *********************** */
.controlHead_input{
    display: flex;
    align-items: center;
    width: 46%;
    height: 83px;
}
