
#tabla{
    border-collapse: collapse;
    border: 3px solid #326789;
    /* border-collapse: collapse; */

}

#tabla_calculo{
    border-collapse: collapse;
    border: 3px solid black;
    border: 3px solid #326789;
    text-align: center;
}

li{
    list-style: none;
}

thead th{
    border: 1px solid gray;
}

thead td{
    text-align: center;
}

tbody td, tbody th{
    padding: 4px;
    border-bottom: 2px dotted gray;
    border-top: 2px dotted gray;

    border-left: 1px solid black;
    border-right: 1px solid black;
}

select{
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

/*Línea de cebra*/
/* tbody tr:nth-child(odd) {
    background-color: white;
}

tbody tr:nth-child(even) {
    background-color: rgb(247, 242, 242);
} */

tbody tr:hover{
    background-color: #E9EEF2;
}

/* #tabla tr:nth-last-child(2){
    border-top: 2px solid black;
} */


/*********************/

.input_List{
    color: rgb(177, 175, 175);
}

.optionP{
    color: rgb(177, 175, 175);
}
.optionA{
    color: red;
}
.optionF{
    color: black;
    background: darkgray;
}
.optionX{
    color: white;
    background: #403e3e;
}

/*****************************/
[data-tr-dias]{
    background: black;
    color: white;
}


.grafico{
    width: 400px;
    display: flex;
    margin-left: 150px;
    flex-direction: column;
    align-items: center;
}

.tabla_y_grafico{
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}


.tituloResumen, .tituloGrafico{
    color: #040826;
}


.table-responsive{
    display: block;
    width: 100%;
    overflow-x: auto;
}

/* @media screen and (max-width:1024px){
    .table-responsive{
        display: block;
        width: 100%;
        overflow-x: auto;
    }
} */

@media screen and (max-width:680px){
    #conteiner{
        margin-top: 20px;
    }

    .tabla_y_grafico {
        flex-direction: column;
        align-items: center;
    }

    .grafico{
        margin-left: 0;
        margin-top: 40px;
    }

}

@media screen and (max-width:400px){
    .grafico{
        width: 320px;
    }

}

